*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.all{
    margin: 0px auto;
    background-color: goldenrod;
    width: 700px;
    min-height: 500px;
    border: 1px solid;
}
.head{
    background-color: brown;
    min-height: 60px;
}
h1  {
    font-size: 40px;
    color:burlywood;
    padding: 20px 20px 0px  ;
    margin-left: 15px;
}
h6{
    font-size: 15px;
    color:rgb(219, 213, 205);
    padding-left: 70px;
    margin-bottom: 20px;
}
nav{
    background-color: rgb(98, 9, 9);
    min-height: 40px;
    padding:10px;
}
ul li{
    list-style: none;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:rgb(219, 213, 205) ;
}
h2{
    margin: 20px 0px 0px 20px;
    color: brown;
    font-size: 30px;
}
.art{
    padding:20px 0px 0px 20px;
    line-height: 30px;
}
.ftr{
    text-align: center;
    margin-top: 80px;
    font-size: 10px;
    color: rgb(152, 101, 37);
}